*{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
body{
  background-color: #716fb86f;
}
.AllCards{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
  flex-wrap: wrap;

}