.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  overflow: hidden;
  width: 180px;
  background:center/cover no-repeat;
  padding: 0.2rem;
  padding-bottom: 1rem;
  color: #a59d9d;
  background-color: #222f3b;
  border-radius: 4px;
  box-shadow: -3px 7px 5px 3px rgb(0 0 0 / 17%);
}
.card-title{
  margin: 0.5rem 0;
}
